%p#notice= notice
%h1 Books
%table
  %thead
    %tr
      %th{:width => '10%'} Name
      %th{:width => '10%'} Genre
      %th{:width => '60%'} Description
      %th{:width => '10%'} Rating
      %th{:width => '10%', :colspan => "3"}
  %tbody
    - @books.each do |book|
      %tr
        %td= book.name
        %td= book.genre.name
        %td= book.description
        %td= rating_for book, 'name', space: true
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Book', new_book_path