.row
  .col
    .card
      .card-header.text-center
        %h3= 'Book'
      .card-body
        %p
          %strong Name:
          = @book.name
        %p
          %strong Genre
          = @book.genre.name
        %p
          %strong Description:
          = @book.description
        %p
          %strong Rating:
          = rating_for @book, 'name', space: true
      .card-footer
        = link_to 'Edit', edit_book_path(@book), class: 'card-link'
        = link_to 'Back', books_path, class: 'card-link'
