<%= form_with(model: book_rating, local: true) do |form| %>
  <% if book_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_rating.errors.count, "error") %> prohibited this book_rating from being saved:</h2>

      <ul>
      <% book_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating_comment %>
    <%= form.text_field :rating_comment, id: :book_rating_rating_comment %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :book_rating_book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :book_rating_user_id %>
  </div>

  <div class="field">
    <%= form.label :rating_id %>
    <%= form.text_field :rating_id, id: :book_rating_rating_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
