<p id="notice"><%= notice %></p>

<h1>Book Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Rating comment</th>
      <th>Book</th>
      <th>User</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_ratings.each do |book_rating| %>
      <tr>
        <td><%= book_rating.rating_comment %></td>
        <td><%= book_rating.book %></td>
        <td><%= book_rating.user %></td>
        <td><%= book_rating.rating %></td>
        <td><%= link_to 'Show', book_rating %></td>
        <td><%= link_to 'Edit', edit_book_rating_path(book_rating) %></td>
        <td><%= link_to 'Destroy', book_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Rating', new_book_rating_path %>
