- content_for :title, ' | Sign In'

= bootstrap_devise_error_messages!
.row
  .col-md-4.offset-md-4
    .card
      .card-header.text-center
        %h3 Sign In
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
        .card-body
          .form-row
            .form-group.col-md-12
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email
          .form-row
            .form-group.col-md-12
              = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: :password
          .form-row
            .form-check.col-md-12
              = f.label :remember_me, class: 'form-check-label' do
                = f.check_box :remember_me, class: 'form-check-input'
                = t('activerecord.attributes.user.remember_me', default: 'Remember me')
          .form-row.text-center
            .form-group.col-md-12
              = f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary'
      .card-footer= render 'devise/shared/links'