.card
  = image_tag('profile-img.png', alt: 'Profile Photo', class: 'card-img-top')
  .card-body
    %h4.card-title= "#{current_user.first_name} #{current_user.last_name}"
  %ul.list-group.list-group-flush
    %li.list-group-item= current_user.username
    %li.list-group-item= current_user.email
  .card-body
    %p= link_to 'Edit Profile', edit_user_registration_path, class: 'card-link'
    %p= link_to 'Edit Genre Selection', '#', class: 'card-link'
    - if current_user.admin?
      %p= link_to 'Add New Genre', new_genre_path, class: 'card-link'
      %p= link_to 'Add New Book', new_book_path, class: 'card-link'
