!!!
%html{ lang: 'en' }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ name: 'viewport',  content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = favicon_link_tag 'cropped-favicon.png', type: 'image/png'
    %title
      Readers Club
      = yield :title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-md
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'cropped-favicon.png', :alt => "", :height => "30", :width => "30", class: 'd-inline-block align-top'
        Readers Club
      %button.navbar-toggler{ type: "button", 'data-toggle' => "collapse", 'data-target'=> "#navbarNavAltMarkup", 'aria-controls' => "navbarNavAltMarkup", 'aria-expanded' => "false", 'aria-label'=> "Toggle navigation"}
        %span.navbar-toggler-icon
      %div.collapse.navbar-collapse#navbarNavAltMarkup
        %div.navbar-nav
          - if user_signed_in?
            = link_to 'Books', books_path, class: 'nav-item nav-link'
            - if current_user.admin?
              = link_to 'Genres', genres_path, class: 'nav-item nav-link'
            = link_to 'Friends', friends_user_path(current_user), class: 'nav-item nav-link'
            = form_with url: users_path, method: :get, local: true do |f|
              .input-group
                = f.search_field :search_term, placeholder: 'Find Readers', class: 'form-control'
                .input-group-btn
                  = f.submit 'Search', class: 'btn'
      %ul.nav.justify-content-end
        - if user_signed_in?
          %li.nav-item= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand'
        - else
          %li.nav-item= link_to 'Register', new_user_registration_path, class: 'navbar-brand'
          %li.nav-item= link_to 'Login', new_user_session_path, class: 'navbar-brand'
    %div.container-fluid
      - if user_signed_in?
        .row
          .col-sm-2
            = render 'layouts/profile'
          .col-sm-7
            %p#notice= flash_messages
            = yield
          .col-sm-3
            = # right side content
      - else
        %p#notice= flash_messages
        = yield
