!!!
%html{ lang: 'en' }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ name: 'viewport',  content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title Readers Club
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-md
      = link_to 'Readers Club', root_path, class: 'navbar-brand'
      %button.navbar-toggler{ type: "button", 'data-toggle' => "collapse", 'data-target'=> "#navbarNavAltMarkup", 'aria-controls' => "navbarNavAltMarkup", 'aria-expanded' => "false", 'aria-label'=> "Toggle navigation"}
        %span.navbar-toggler-icon
      %div.collapse.navbar-collapse#navbarNavAltMarkup
        %div.navbar-nav
          - if user_signed_in?
            = link_to 'Books', books_path, class: 'nav-item nav-link'
            = link_to 'Edit registration', edit_user_registration_path, class: 'nav-item nav-link float-right'
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link'
          - else
            = link_to 'Register', new_user_registration_path, class: 'nav-item nav-link'
            = link_to 'Login', new_user_session_path, class: 'nav-item nav-link'
    %div.container-fluid
      %br
      %br
      %p#notice= notice
      = yield
